/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  color: rgb(0, 110, 255);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: rgb(0, 38, 255);
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 110, 255);
}
