.container {
  padding: 30px;
}

.inspect-endpoint {
  font-size: 20px;
}

.copy {
  font-size: 12px;
  margin: 0px 5px;
}

.generate-button {
  margin: 15px 0px;
}

.requests {
  margin: 25px 0px;
}

.share {
  margin: 50px 0px 5px;
  font-size: 16px;
}

.share mat-divider {
  margin: 15px 0px;
}

.share label {
  margin: 0px 5px 0px 0px;
  font-size: 14px;
  font-weight: bold;
}

::ng-deep {
  .copy-snack-bar-confirmation {
    margin-top: 120px !important;
    text-align: center !important; 
  }
}

.url-change-notice {
    margin-bottom: 22px;
    color: red;
    font-size: 35px;
    line-height: normal;
}